@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html{
    scroll-behavior:smooth;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#f59e0b;
    border-radius:999px;
}

::-webkit-scrollbar-track{
    background:#f8fafc;
}

::selection{
    background:#fb923c;
    color:white;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.animate-fade-in{
    animation:fadeIn .35s ease;
}